<h1>Билеты</h1>
  <tbody>
    <% current_user.tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket_path(ticket) %></td>
        <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'На главную', root_path%>
