<h3 align="left"> Поиск билета </h3> </br>

<div class="row" align="left">
  <%=form_tag('/search') do  %>
    <div class="col-md-4">
      <%= select_tag :start_station, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= select_tag :end_station, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%=  submit_tag "Поиск", class: 'btn btn-primary' %>
    </div>
</div>
<% end %>
